# Dépendances
node_modules/
.vscode/
# Session WhatsApp (JAMAIS push ça)
sessions/
bot-final.zip
session.zip
bot.zip
bot-.zip
# Variables sensibles
.env
env.txt

# Données locales
data/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
#app
yt-dlp.exe
*.mp4
*.part
*.zip
# fichiers tests
eslint.config.mjs
lint_results.txt
lint_results_2.txt
scripts/
test.js
