# Dépendances
node_modules/

# Session WhatsApp (JAMAIS push ça)
auth_info/
bot-final.zip
session.zip

# Variables sensibles
.env
env.txt

# Données locales
data/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
#app
yt-dlp.exe