# Dépendances
node_modules/
.vscode/
# Session WhatsApp (JAMAIS push ça)
sessions/
bot-final.zip
session.zip
bot.zip
# Variables sensibles
.env
env.txt

# Données locales
data/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
#app
yt-dlp.exe